<<<<<<< HEAD
body{
    overflow-x: hidden;
    
}
.cardspace{
    margin:0px 20px;
=======
body{
    overflow-x: hidden;
    
}
.cardspace{
    margin:0px 20px;
>>>>>>> 1f823e09afdd3a22e54d64a64ff2ad70adc10c86
}